/* botão voltar para cima */
.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background: #ffb300;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.4s ease;
  z-index: 1000;
  text-decoration: none;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top:hover {
  transform: scale(1.1) translateY(-5px);
}

/*
Todos os botões
*/
.btn {
  background-color: #ffb300;
  border: 0;
}

.btn:hover {
  background-color:rgb(255, 132, 0);
  border: 0;
}

@media (max-width: 992px) {
  .back-to-top {
      right: 20px;
  }
}

