.croa-paragraph {
    text-align: justify;
    font-size: larger;
}

iframe {
    width: 100%;
    height: 600px;
}

@media (max-width: 992px) {
    iframe {
        height: 1000px;
    }
}

.hero {
    background-image: url('../images/pirulito_homepage.jpg');
    background-size: cover;
}