h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #ffb300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #ffb300;
  margin: 1rem auto 0;
  border-radius: 2px;
}