html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.servicosRecolha {
  padding-top: 140px;
}

.servicosRecolha p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #555;
}

.servicosRecolha ul {
  font-size: 1rem;
  color: #444;
  line-height: 1.8em;
}

.servicosRecolha ul li i {
  margin-right: 15px;
}

.servicosRecolha img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.servicosRecolha img:hover {
  transform: scale(1.03);
}

/* =========================
    section - perigoAnimal
============================ */

.card {
  background: #fff;
  border-left: 6px solid #ffb300;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.40);
  border-radius: 18px;
  transition: all 0.3s ease;
}

.perigo_animal .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.perigo_animal .card-body {
  padding: 2rem;
}

.perigo_animal .card h5 {
  font-weight: 600;
  color: #444;
  font-size: 1.1rem;
}

.perigo_animal ul li {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.fa-phone {
  color: black;
}