.servicosVet {
    padding-top: 150px;
}

.container {
    border-left: 6px solid #ffb300;
    box-shadow: 0 2px 6px rgba(0,0,0,0.40);
    border-radius: 10px;
}

img {
    border-radius: 6px;
}


.list-group-item {
  padding: 15px 20px;
  font-size: 1rem;
}

.list-group-item:hover {
  background-color: #fff8e1;
}

.list-group {
    margin: 10px 0;
} 

.btn {
  background-color: #ffb300;
}

.btn:hover {
  background-color:rgb(255, 132, 0);
}
